# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.development
.env.production
.env.test
.env.development.local
.env.production.local
.env.test.local

# supabase
.supabase
supabase/.env
supabase/.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# others
SETUP.md
supabase-schema.sql
VERCEL_DEPLOYMENT.md
supabase-auth-migration.sql
GOOGLE_AUTH_SETUP.md
QUICK_GOOGLE_SETUP.md
LinkedINpost.md

